p {
    color: black;
    background: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
}

span.bukvaE {
    vertical-align: sub;
    color: green;
    letter-spacing: -3px;
}

span.bukvaT {
    letter-spacing: -3px;
}